.keys {
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 100vh;
   margin: auto 50px;
}

.key {
   border: solid 1px #937e7e;
   padding: 25px 20px;
   width: 80px;
   width: 80px;
   text-align: center;
   font-size: 20px;
}
