@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

header {
   text-align: center;
   display: flex;
   justify-content: center;
}

.text-container {
   width: 90%;
   position: relative;
}

h1 {
   color: #035e5a;
   font-size: 50px;
   line-height: 0px;
   font-family: "Gloria Hallelujah", cursive;
   font-size: 300px;
}

p {
   position: relative;
   top: -230px;
   font-size: 50px;
   font-weight: 900;
}
